<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bearer_Token</key>
	<string>AAAAAAAAAAAAAAAAAAAAABdJZQEAAAAASmnDZqgMENRgbSSKo%2FZ1cSlHhts%3DgARGdux3vktSqpazjkgv258GCRT3UgUti2FwO6tsHP3efl1PqT</string>
	<key>API_KEY_SECRET</key>
	<string>ybElYZDMtMQcb226VtpEleUjmkeONC9APB6NyeiTj4WdbyQXqv</string>
	<key>API_KEY</key>
	<string>QYS6xtkZRU38f5tJXwsUu5WZK</string>
</dict>
</plist>
